header {
  @include grid-container;
}

h1 {
  display: inline-block;
  margin-left: 2rem;
}

input {
float: right;
margin-left: 1rem;
}

.header-nav {
  list-style: none;
  border-top: solid .1rem black;
  border-bottom: solid .1rem black;
  box-sizing: border-box;
}

.header-nav * {
  display: inline-block;
  padding: 1rem;
  margin-left: 0;
  font-size: .8rem;
}
